<header>
    <h1>{{title}}</h1> 

<div>
    <a class="link" href="/">Weather</a>
    <a class="link" href="/about">About</a>
    <a class="link" href="/help">Help</a>
    <a class="link" href="/404">404</a>
    <a class="link" href="/help/404">404 Help</a>
</div>
</header>
